# **Introduction to Python**
## **Modern Theory of Detection and Estimation** (Fall 2024)
### **Academic year 2024/2025**

------------------------------------------------------
The original version was prepared for *Master in Information Health Engineering* by:

*Harold Molina Bulla (h.molina@tsc.uc3m.es)*,
*Vanessa GÃ³mez Verdejo (vanessa@tsc.uc3m.es)* and
*Pablo M. Olmos (olmos@tsc.uc3m.es)*

------------------------------------------------------

#1.&nbsp;What is Python?
From Wikipedia: "Python is a widely used general-purpose, high-level programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as C++ or Java. The language provides constructs intended to enable clear programs on both a small and large scale."

To easily work with Python on any computer, we can use [Google Colaboratory](https://colab.research.google.com/notebooks/welcome.ipynb), which provides a free envorinment to run Python Jupyter notebooks.  

Throughout this tutorial, students will learn some basic features of the Python programming language, as well as the main characteristics of Python notebooks.

#2.&nbsp;Work environment: Jupyter and Google Colab

To start working with Python, we will use the **Jupyter work environment**, as it allows us to execute code easily and integrate code, text, figures, and more into the same document.

A Jupyter notebook (or simply, notebook) is composed of a series of cells. For each cell, we specify whether it contains text (like the cell we are in now) or code. The Google Colab environment allows us to easily add new cells using the  $\verb|+Code|$ and $\verb|+Text|$ buttons, which are displayed on the toolbar at the top (left side) or when you move the cursor between cells.

When we are in a cell, we can perform two actions:
* **Edit**. We can enter a cell by selecting it and pressing Enter. This allows us to modify the content of the cell, similar to using a text editor.
  * In a **text type cell**, Google Colab displays a preview on the right side, showing how the content will appear as we write. In addition, Jupyter uses a syntax known as Markdown, which allows us to define headers, format text, and more. It even enables the inclusion of equations inside cells using LaTeX syntax [LaTeX ] (http://www.latex-project.org/). For example, by typing `$ \ sqrt {3x-1} + (1 + x) ^ 2 $`, we will see $\sqrt {3x-1} + (1 + x)^2.$
  * In a **code type cell**, we can write multiple lines of code and then execute them together, define functions, import libraries, etc.

* **Execution**. This allows us to format the content of a text cell or execute the code contained in a code cell. To execute a cell, we can press $\verb|Control|$ + $\verb|Enter|$, or if we want to automatically move to the next cell after execution, we can press $\verb|Shift|$ + $\verb|Enter|$.

To find out when a **code cell** has been executed, we can check the cell header:
  * If only `[ ]` appears, it has not been executed yet.
  * If we see `[*]`, the cell is in the process of execution.
  * If a number appears in the brackets, the execution has finished.

In [94]:
print('Hello World!')

Hello World!

## 2.1 Integration with Google Drive

One of the key features of Google Colab is its seamless integration with Google Drive, enabling you to share, comment and collaborate on the same document with multiple users:

* The **Share** button (located at the top right of the toolbar) lets you share the notebook and manage its permission settings

* The option **File -> Save a copy in Drive** saves the file to your Google Drive.

* The option **File -> Save and pin revision** allows you to view changes made, see who made them, compare two revisions, and revert to a previous version if necessary. Since the revision history is not permanent by default, selecting this option is required to save a revision permanently

* The option **File -> Revision history** displays the notebook's revision history.

Additionally, if we plan to work collaboratively, we can add comments to the cells to facilitate teamwork. To do this, each cell provides an option in the upper right corner to add a comment, similar to how it works in Google Docs.

#3.&nbsp;Getting started with Python: Numbers

### 3.1 Basic operations

To begin working with Python, we can use it to perform basic arithmetic operations, with a syntax that resembles that of a calculator. In other words, we input numbers, apply operations such as (`+`, `-`, `*`, `/`), and get a result. Below are a few examples in the following lines of code

In [95]:
2 + 2

4

In [96]:
2-2

0

In [97]:
2*10 / 5

4.0

We can use parentheses to group operations and control the order of execution:

In [98]:
3+4*2

11

In [99]:
(3+4)*2

14

We can also use the equal sign (`=`) to assign the result of an operation to a variable, allowing us to store it for later use. For example:

In [100]:
width = 10
length = 2 * 3
area= width * length

**Variables** are containers used to store data values. Unlike many other programming languages, Python does not require a specific command to declare a variable; instead, a variable is created automatically when it is first assigned a value

If we want to make our code more readable, we can add **comments** by placing the `#` symbol before the text of our comment. For example:

In [101]:
width = 10    # Assing the value 10 to variable width
length = 2 * 3  # Multiply 2 and 3, then assign the result to the variable 'length'
area= width * length  # The area is the product of width and length

### 3.2 Print function

In these examples, no output has been displayed because the result of the operation is stored in a variable. However, we can use the `print()` function to display the calculated `area` on the screen, as shown below:

In [102]:
print('The area is:', area)

The area is: 60

When working in Python notebooks, if we simply type the variable name on the last line of a cell, its value will also be displayed. Compare the following two code cells:

In [103]:
width
length
area

60

In [104]:
print(width)
print(length)
area

10
6

60

### 3.3 Type of data

An essential aspect of variables is their **data type**. When working with numerical variables, there are two main types we typically encounter:
* Integer numbers (**int**): As the name suggests, this type is used for numeric variables without decimals. Examples include: $2$, $4$, $0$, $-1$.
* Floating point numbers (**float**): This data type is used for numeric values with a decimal part. Examples include: $0.2$, $4.0$, $-2.2$.

*Note: Python also supports other numeric types, such as Decimal and Fraction. Additionally, Python has built-in support for complex numbers, using the suffix `j` or `J` to represent the imaginary part (e.g. 3+5j).*

To determine the data type of a variable, we can use the `type()` function. Consider the following examples:

In [105]:
type(2)

int

In [106]:
type(2.0)

float

In [107]:
type(width)

int

Adding a dot `.` to an integer value, as in `1.` or `1.0`, causes Python to interpret the number as a *float*. Additionally, when an operation involves a float, the result will always be a float.

In [108]:
print(type(1))
print(type(1.))
print(type(1.0))

<class 'int'>
<class 'float'>
<class 'float'>

In [109]:
x = 1
y = 2.5
z = x*y
print(['The type of variable z is: ', type(z)])

['The type of variable z is: ', <class 'float'>]

Now that we understand data types and the different types of numeric variables, let's move on to performing operations with Python.

In [110]:
# Divide 4 by 3
result1 = 4/3

# Divide 8 by 4
result2 = 8/4

What type do you think the variable `result1` is? And what about `result2`?

In [111]:
print('Result1 is type: ', type(result1))
print('Result2 is type: ', type(result2))

Result1 is type:  <class 'float'>
Result2 is type:  <class 'float'>

The `/` operator always returns a *float* type. To divide two numbers and obtain an integer result (discarding the decimal part), you can use the `//` operator, and to calculate the remainder of the division, you can use the `%` operator. For example:

In [112]:
print(10 / 3)  # Standard division (returns a float)
print(10 // 3)  # Division excluding the decimal part
print(10 % 3)   # Get the remainder of the division

3.3333333333333335
3
1

Among the basic operators, Python also includes the power operator `**`.

In [113]:
print(3 ** 2)  # 3 raised to 2 (3^2)
print(2 ** 10)  # 2 raised to 10 (2^10)

9
1024

### 3.4 Hereâs a summary of Python's basic operators
| Operator      | Example
| -----------| ----------- |
|`+`: Addition|  `x + y` |
| `-`:  Subtraction | 	`x - y` |
| `*`:  Multiplication |	`x * y`|
| `/`:  Division |	`x / y` |
| `%`:	Remainder |	`x % y` |
| `**`: **Exponentiation** |	`x ** y` 	|
| `//`: Floor division |	`x // y`|

### 3.5 Assignment operators for values

Python offers several compound operators. For example:

In [114]:
a = 3
a += 5
a

8

The `+=` symbol allows us to incrementally add a value to a variable. Note that this is equivalent to

In [115]:
a = 3
a = a + 5
a

8

We can do the same with many other operators. For example:


| Operator      | Example | Same As  |
| ----------- | ----------- |----------- |
| +=      | x += 3 	| x = x + 3 |
|  -=  |	x -= 3 |	x = x - 3 	|
| *= 	|  x *= 3 |	x = x * 3 	|
| /= 	|x /= 3 |	x = x / 3 	|
| %= 	|x %= 3 |	x = x % 3 	|
| //= |	x //= 3 |	x = x // 3 |
| **= |	x **= 3 	| x = x ** 3 |

For slightly more complex operations, several built-in mathematical functions are available. For example:

 * `math.sqrt(x)` returns the square root of a number.
 * `math.pow(x, y)` raises a real number to another. This is equivalent to: `x**y`.
 * `math.log(x)` calculates the natural logarithm of a number.
 * `math.exp(x)` calculates the exponential of a number.
 * `math.cos(x)` calculates the cosine of a certain angle (measured in radians).
    
There is also `math.sin()` for sine and `math.tan()` for tangent, as well as `math.acos()`, `math.asin()`, and `math.atan()` for the arccosine, arcsine, and arctangent, respectively.

There is also some constants that can simplify our work! `math.pi` represents the number `pi` (3.14159265359) and `math.e` represents the number `e`, the base of natural logarithms.

To use these functions, we need to start the program with `import math` (we will explore this in more detail later, but this line allows us to use functions from the math library.) For example, the following program calculates the square root of the number stored in the variable `n`.

In [116]:
import math
n = 9
print (math.sqrt(n))

3.0

## 3.6 **Exercises**

Now that we understand how to work with numbers in Python, let's move on to solving the following exercises.

**Exercise 1**

Define the following variables:
* `net_price`: This will represent the net price of a product. Please initialize it to $750$.
* `tax`: This will represent the VAT percentage applied to the product. Please initialize it to $21$.

Now, using these two variables, **calculate the final price of the product**, store it in the variable `final_price`, and print the result."

**Solution**

In [117]:
net_price = 750
tax = 21
final_price = net_price*tax/100
print(final_price)

157.5

**Exercise 2**

2.1 Define a variable `x` and set its value to $5$.

2.2 From the variable `x`, generate a new variable `y` using the following transformation:

$ \displaystyle y = \frac{x}{2} * \exp (x ^ 2) + 1 $

Program the lines of code needed to calculate `y` from` x`. What value does `y` take when` x` is 5? What if `x` is 10?

Write the lines of code needed to calculate `y` from `x`. What value does `y` take when `x` is $5$? What about when `x` is 10?

**Solution**

In [118]:
x = 5
def calc_y(x): return x/2 * math.e**(x**2) + 1
print(f"(x=5) y={calc_y(x)}")
print(f"(x=5) y={calc_y(1)}")

(x=5) y=180012248344.46442
(x=5) y=2.3591409142295223

# 4.&nbsp;Booleans in Python

Boolean data types represent one of two values:  True (`True`) or False (` False`). They are extremely useful in programming because it's often necessary to determine whether an expression is true or false. For instance, when comparing two values, the expression is evaluated, and Python returns the result as a boolean value:

In [119]:
print(10 > 9)
print(10 == 9)
print(10 != 9)
print(10 < 9)

True
False
True
False

In [120]:
print(type(10 > 9))

<class 'bool'>

## 4.1 Operators for comparison of values and identities

### 4.1.1 Comparsion operators

These operators compare values and return a Boolean result (`True` or `False`).
*   **Equal to** (`==`): Checks if two values are equal.

    Example: `x == y`
*   **Not equal to** (`!=`): Checks if two values are not equal.

    Example: `x != y`
*   **Greater than** (`>`): Checks if the left value is greater than the right.

    Example: `x > y`
*   **Less than** (`<`): Checks if the left value is less than the right.

    Example: `x < y`
*   **Greater than or equal to** (`>=`): Checks if the left value is greater than or equal to the right.

    Example: `x >= y`
*   **Less than or equal to** (`<=`): Checks if the left value is less than or equal to the right.

    Example: `x <= y`

### 4.1.2 Identity Operators


*   **is** (`==`): Returns `True` if two variables refer to the same object in memory.

    Example: `x is y`
*   **is not** (`!=`): Returns `True` if two variables do not refer to the same object in memory

    Example: `x is not y`

These operators are fundamental in controlling logic flow and performing checks in Python programs.

### 4.1.3 Logical operators

In Python, logical operators are used to combine conditional statements or expressions, returning a Boolean result (`True` or `False`). Here are the main logical operators:

Logical Operators:


1.   `and`: Returns `True` if both operands are `True`; otherwise, it returns `False`.

  Example: `x > 5 and y < 10`

  Explanation: If both conditions (`x > 5` and `y < 10`) are `True`, the entire expression will be `True`.


2.   `or`: Returns `True` if at least one operand is `True`; otherwise, it returns `False`.

  Example: `x > 5 or y < 10`

  Explanation: If either `x > 5` or `y < 10` is `True`, the entire expression will be `True`.

3.   `not`: Reverses the Boolean value of the operand. If the operand is `True`, it returns `False`, and vice versa.

  Example: `not(x > 5)`

  Explanation: If `x > 5` is `True`, the not operator will make the expression `False`.

**Exercise 3**

Examine the following examples by changing the value of `x` and trying to predict the outcome of the various logical operations

In [121]:
x = 4
print((x<5) and (x>2))
print((x<5) & (x>2))

True
True

In [122]:
x = 6
print((x<5) or (x>2))
print((x<5) | (x>2))

True
True

In [123]:
x = 7
print((x<5) and (x>2) or (x>10))

False

# 5.&nbsp;Working with text strings

The basic data type for representing text in Python is the *string*. A string is typically defined by assigning a text value to a variable, enclosed in single (`'`) or double (`"`) quotation marks. Alternatively, other data types (such as numeric values) can be converted to strings using the `str()` function.

In [124]:
# Define string variables
t1='This is a string'
print(t1)
t2 ="t2 too!"
print(t2)

This is a string
t2 too!

In [125]:
# Convert a number to string
n = 500
print(n)
print(type(n))
n_string = str(n)
print(n_string)
print(type(n_string))

500
<class 'int'>
500
<class 'str'>

## 5.1 Methods of the string object

Python is widely regarded as an excellent choice for working with text files of any type or size, due to its string objects, which offer a wide range of built-in methods that simplify text manipulation



We will explore **Python objects** later, including how to define and create our own objects with customized methods and attributes. For now, we will focus on using Python's predefined objects (such as string objects) and accessing their methods and attributes,

So far, we need to understand the following:

* To use the methods of an object `my_object`, always follow the syntax `my_object.method()`.

* If we want to see the available methods for an object in Google Colab, we can simply type `my_object` and pause for a moment. Google Colab will then display a list of all the methods available for that object.

* All methods of the string object return a new value as output, leaving the original string unchanged.

Some of these methods are:

* `.capitalize()`: Converts the first letter of the string to uppercase.

In [126]:
t1.capitalize()

'This is a string'

* `.lower()`: Converts all characters in the string to lowercase.
* `.upper()`: Converts all characters in the string to uppercase.

In [127]:
t_upper = t1.upper()
print(t_upper)
t_lower = t_upper.lower()
print(t_lower)

THIS IS A STRING
this is a string

Please note that if you print `'t1'`, it has not been modified!

In [128]:
print(t1)

This is a string

* `.replace('s1', 's2')`: Replaces the characters `'s1'` in a string with the character`'s2'`.

* `.replace('s1', 's2')`: Replaces occurrences of the substring `'s1'` in a string with the substring `'s2'`.

In [129]:
t1.replace(' ', ',')

'This,is,a,string'

In [130]:
t1.replace('i', 'uu')

'Thuus uus a struung'

Based on the result displayed on the screen, do you think the string `'t1'` has been modified? Give it a try!

In [131]:
print(t1)

This is a string

* .`find ('s') `: Searches for the substring `'s'` within the string and returns the position of its first occurrence. If it is not found, it returns `-1`.

In [132]:
t1.find('string')

10

In [133]:
t1.find('word')

-1

* `.split('s')`: Splits the string into multiple substrings, using the character 's' as the separator.

In [134]:
print(t1)

This is a string

In [135]:
# Split by the character 'i'
print(t1.split('i'))
# Split by the character ' ' (blank space)
print(t1.split(' '))

# If a splitter character is not provided, by default, the blank space is used
print(t1.split())  #It is equivalent to: t1.split(' ')

['Th', 's ', 's a str', 'ng']
['This', 'is', 'a', 'string']
['This', 'is', 'a', 'string']

Please note that when applying the `.split()` method, the separator character 's' is removed from the resulting substrings. Additionally, the method returns a list where each element is a string. We will explore what lists are in Python and how to work with them later on.

You can find a list of all available methods for string objects at [this link](https://www.w3schools.com/python/python_ref_string.asp)

### 5.1.1 Length of a string
To get the length of a string, use the `len()` function.

$\underline{\text{Note}}$: `len()` is a Python function shared with other data types, so **it is not** unique to strings. For this reason, it is not a method of string objects, and its syntax is `string.len()`, not `len(string)`.

In [136]:
mystring = "Hello everyone!"
len(mystring)

15

### 5.1.2 Check if a string is present or not

You can use the keywords `in` or `not in` to check whether a certain phrase or character is present within a string. These keywords are logical operators, so they return a Boolean value (`True` or `False`).

In [137]:
"everyone" in mystring

True

In [138]:
"everyone" not in mystring

False

In [139]:
"everybody" in mystring

False

## 5.2 String indexing

Strings are like arrays of characters, where each character is simply a string with a length of $1$. Therefore, the elements of a string can be accessed in various ways:

* We can retrieve a single character by using square brackets and specifying the character's position. For example, `my_string[position]` will return the character located at position within the string `my_string`.

* To extract a substring, we can specify the start and end positions using (`[start:end]`). The resulting string will begin at the character at the start position (inclusive) and will end at the character at the end position (exclusive)

Additionally, strings can be indexed backwards using negative indices. If the starting position is omitted, it defaults to the first character, and if the ending position is omitted, it defaults to the last character

**Important**: Python starts indexing at $0$, meaning the first element is at position $0$!!

### Exercise
Analyze the following code and try to predict its output before running it.

In [140]:
mystring = "Hello everyone!"

In [141]:
mystring[0]

'H'

In [142]:
mystring[1:5]

'ello'

In [143]:
mystring[:5]

'Hello'

In [144]:
mystring[8:]

'eryone!'

In [145]:
mystring[-1]

'!'

In [146]:
mystring[-6:]

'ryone!'

## 5.3 String concatenation

Two or more strings can be concatenated or combined using the `+` symbol.

In [147]:
t1="Hello"
t2="everyone"
t1+t2

'Helloeveryone'

In [148]:
t1+" "+t2

'Hello everyone'

In [149]:
t1 +" " + t2 + "!"

'Hello everyone!'

Can we combine text and numbers? Let's find out!

In [150]:
result = 5 + 2
"The result is: " + str(result)

'The result is: 7'

As we can see, this results in an error! This happens because only strings can be concatenated with other strings. To combine text with a number, we need to convert the result variable to a string using the `str()` function.

$\underline{\text{Note}}$: Notice how Google Colab formats the error output, clearly indicating the exact line where the failure occurs and the type of error, `TypeError: can only concatenate str (not "int") to str`. It also provides a link to search for this error on Stack Overflow, where you can find potential solutions.

In [151]:
result = 5 + 2
"The result is: " + str(result)

'The result is: 7'

**The Escape Character**

To insert characters that are not allowed directly in a string, use an escape character. An escape character is a backslash (`\`) followed by the character you wish to insert.

An example of an illegal character is a double quote inside a string that is already enclosed in double quotes:

In [152]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

Some common illegal characters  that can be escaped using the backslash (`\`) are:
* `\'`: Single quote
* `\"`: Double quote.
* `\\`: 	Backslash.
* `\n`: 	New line.
* `\r`: 	Carriage return.
* `\t`: 	Tab.
* `\b`: 	Backspace.
* `\f`: 	Form feed.

**Exercise:** Complete the following exercises:

str1 -> "Hola" is how we say "hello" in Spanish.

str2 -> That's all!

In [73]:
str1 = '"Hola" is how we say "hello" in Spanish'
str2 = "That's all!"

* Print the string `str1` and check its type.

In [70]:
print(str1)
print(type(str1))

"Hola" is how we say "hello" in Spanish
<class 'str'>

* Print the first 5 characters of `str1`.

In [71]:
print(str1[0:4])

"Hol

* Join `str1` and `str2`, adding a dot separator between the two strings.

In [75]:
print(". ".join([str1, str2]))

"Hola" is how we say "hello" in Spanish. That's all!

* Convert `str1` to lowercase and print it!

In [76]:
print(str1.lower())

"hola" is how we say "hello" in spanish

* Convert `str1` to uppercase letters.

In [78]:
print(str1.upper())

"HOLA" IS HOW WE SAY "HELLO" IN SPANISH

* Get the length of `str1` by counting the number of characters.

In [82]:
print(len(str1))

39

* Replace the character `h` in `str1` with the character `H`.

In [83]:
print(str1.replace("h", "H"))

"Hola" is How we say "Hello" in SpanisH

## 5.4 Logical conditions in Python: If ... Else
As previously mentioned, Python supports the usual logical conditions in mathematics, which allow us to answer questions like:
* Are `a` and `b` the same ?: `a == b`
* Are `a` and `b` not the same ?: `a! = b`
* Is `a` less than `b` ?: `a < b`
* Is `a` less than or equal to` b` ?: `a <= b`
* Is `a` greater than `b` ?: `a > b`
* Is `a` greater than or equal to `b` ?: `a > = b`

These logical conditions can be combined with the `if... else...` keywords to execute different operations based on the result of the condition. For instance, we can define two variables, `a` and `b`, and display a message on the screen when the condition `a > b` is satisfied.

In [ ]:
a = 33
b = 10
if a > b:
  print("a is greater than b")

When this code is executed, Python evaluates the condition (`a > b`). If the result is `True`, the nested code (`print(...)`) is executed; otherwise, it is not.

Upon analyzing this example, we observe that the `if` statement follows a specific syntax: the first line starts with the keyword `if`, followed by the condition to be evaluated (a logical expression), and ends with a colon (`:`).

After this first line, the block of code to be executed if the condition is true follows. Note that this code block must be indented (either a tab or $2$ to $4$ spaces at the beginning of the line), as Python uses indentation to identify the lines that belong to the same block of instructions (unlike other programming languages that use curly braces). To end the block of code inside the condition, simply remove the indentation and continue writing from the start of the line.

To better understand this concept, let's compare the outputs of the following code cells:

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater than b")
print("I am out of the conditonal if")

If no indented lines follow the `if` statement, Python will return an error:

In [ ]:
a = 3
b = 10
if a > b:
print("a is greater than b")
print("I am out of the conditional if")

However, we can always use the `pass` keyword if we want to define a condition but not execute any code when it is satisfied.

In [ ]:
a = 3
b = 10
if a > b:
  pass
print("a is greater than b")
print("I am out of the conditional if")

You can combine the `if` statement with the `else` keyword (using `if...else...`), to execute one block of code when the condition is met and another when it is not.

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater than b")
else:
  print("a is not greater than b")

What is the difference between the previous code and this one?

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater b")
if a < b:
  print("a is less b")

There are indeed several differences:

* By using two separate `if` blocks, we are forcing Python to evaluate both conditions independently. In contrast, an `if...else...` block only evaluates one condition. While the difference might not be noticeable in a simple program, in programs that run multiple comparisons, the impact on performance can become significant.
* Using `else` saves us from having to write an additional condition. Moreover, writing conditions can lead to mistakes, while using `else` avoids this risk.
* Using `if...else...` ensures that one of the two blocks of instructions will be executed. However, when using two separate if statements, it is possible that neither condition is met, resulting in neither block being executed.

Finally, we can also combine `if...else...` with `elif` (using `if...elif...else...`), when we need to evaluate multiple alternatives. In this case, the syntax would be:

In [ ]:
a = 3
b = 10
if a > b:
  print("a is greater than b")
elif a < b:
  print("a is less than b")
else:
  print("a is equal to b")

In fact, you can include as many `elif` blocks as needed. The `else` block, which is optional, is only executed if none of the previous conditions are met.

In [ ]:
a = 10
if a < 5:
  print("a is less than 5")
elif a < 7:
  print("a is less than 7")
elif a < 9:
  print("a is less than 9")
elif a < 11:
  print("a is less than 11")
else:
  print("a does not meet any of the above conditions")

# 6.&nbsp;Loops in Python

Python allows us to repeat the execution of a section of code iteratively using two types of loops:

* `while`: Repeats code execution as long as a specified condition is true.
* `for`: Executes a block of code a predefined number of times by default.

Next, we will explore in detail how each of these structures works.

### 6.1 While loop

As previously mentioned, this type of loop repeatedly executes a series of instructions as long as a specific condition is met.

We can illustrate its syntax with the following example:

In [ ]:
a=0
while a<10:
  print(a)
  a += 1
print('We are out of the loop')

The `while` loop evaluates the condition at each iteration, and as long as the condition is true, it executes the code inside the loop. Note that the syntax is very similar to that of if statements: to declare the loop, we write the keyword `while` followed by the condition and end the line with a colon (`:`). All lines of code to be executed within the loop must be indented.

Note that, as the loop is currently defined, if we do not modify the value of the variable `a` within the loop, it will run indefinitely and never terminate.

We can also combine the `while` loop with the `else` keyword to execute a specific block of code when the condition is no longer true.

In [ ]:
a=0
while a<10:
  print(a)
  a += 1
else:
  print('a is not less than 10')
print('We are out of the loop')

We can use the `break` and `continue` keywords within the `while` loop to enforce certain behaviors:
* The `break` keyword forces the loop to terminate, even if the condition is still true.
* The `continue` keyword allows us to skip the current iteration and proceed to the next one.

Let's explore the following examples

In [ ]:
a=0
while a<10:
  print(a)
  a += 1
  if a==3:
    print('Forced exit from the loop')
    break
print('We are out of the loop')

In [ ]:
a=0
while a<5:
  print(a)
  a += 1
  if a==3:
    continue
  print('rest of commands')
print('We are out of the loop')

### 6.2 For loop

As mentioned previously, `for` loops define the number of iterations by default. This is because they are designed to iterate over a sequence of elements, such as the characters in a string. Let's look at an example:

In [ ]:
myString='This is my string'
for s in myString:
  print(s)

Upon analyzing the syntax, we notice that it differs slightly from the `while` loop. It begins with the keyword `for`, followed by a variable (in this case, the variable `s`) that takes on a value from the sequence in each iteration. The `in` keyword is then used along with the sequence to iterate over, followed by a colon (`:`). The subsequent indented lines represent the block of code that is executed during each iteration.

If we want to keep track of the number of iterations, we can use the `enumerate()` function on the sequence of elements. This function returns both the value of the element and an integer representing its position or the current iteration number. For example:

In [ ]:
myString='This is my string'
for i,s in enumerate(myString):
  print('Iteration: ' +str(i) + ' Value: '+ s)

It is very common to combine the `for` loop with the `range()` function, as this function returns a sequence of numbers that we can iterate over. The syntax is as follows:

`range(start_value, end_value, step)`.

This generates a sequence of values between `start_value` and `end_value` (excluding the latter), with increments defined by `step`. For example:

In [ ]:
sequence = range(2,10,3)
for i in sequence:
  print(i)

If we do not specify the `step`, it defaults to $1$, and if we omit the `start_value`, it defaults to $0$.

In [ ]:
sequence = range(2,10)
for i in sequence:
  print(i)

In [ ]:
secuence = range(10)
for i in secuence:
  print(i)

We can also combine the `for` loop with the following keywords:

* `else` to execute a block of code after the loop completes all iterations.
* `break` to exit the loop early, even if not all elements of the sequence have been processed.
* `pass` to do nothing within the loop, effectively serving as a placeholder.

In [ ]:
sequence = range(10)
for i in sequence:
  print(i)
else:
  print('We are finished')

In [ ]:
sequence = range(10)
for i in sequence:
  print(i)
  if i==4:
    break
else:
  print('we are finished')

In [ ]:
sequence = range(10)
for i in sequence:
  pass
else:
  print('We are finished')

It is quite common to use nested loops, where one loop is defined inside another. For example:

In [ ]:
sequence = range(4)
for i in sequence:
  for j in sequence:
    print(str(i)+ ' ' + str(j))

# 7.&nbsp;Data collections in Python

There are four types of collections in Python that allow us to group data:

* **List**: An ordered, mutable collection that allows duplicate members.

* **Tuple**: An ordered, immutable collection that also allows duplicates.
* **Set**: An unordered, unindexed collection that does not allow duplicate members.
* **Dictionary**: An unordered, mutable and indexed collection where keys must be unique.

When selecting a collection type, it's important to understand the characteristics of each. Choosing the correct type for a particular dataset can preserve meaning and improve efficiency or security.

## 7.1 Lists in Python

As mentioned, a **list** is an ordered collection of elements that can be modified and allows duplicate items. As we progress with our Python knowledge, we'll see that lists are one of the most commonly used data types in programming. Consequently, there are numerous operations that can be performed on lists. Below are some examples of the most common ones.

### 7.1.1 Create a list

In Python, lists are written using square brackets. To create a list, you simply enclose a series of elements, separated by commas, within the brackets:

In [ ]:
myList = ["apple", "banana", "pear", "orange", "lemon", "cherry", "kiwi", "melon", "mango"]
print(myList)

We can define an empty list by not including any elements inside the brackets.

In [ ]:
myEmpty_List = []
print(myEmpty_List)

Or, we can also create a list with the `list()` constructor.

In [ ]:
myList2 =list([ "lemon", "cherry", "kiwi", "mango"])
print(myList2)

### 7.1.2 Element indexing

We can access list elements by indexing them, much like accessing characters in a string. Review the following examples and try to predict the output before running them!

In [ ]:
print(myList[1])

In [ ]:
print(myList[3:5])

In [ ]:
print(myList[:4])

In [ ]:
print(myList[5:])

In [ ]:
print(myList[-1])

In [ ]:
print(myList[-5:-1])

### 7.1.3 Check for the presence of an element

We can use the `in` keyword to verify if an item is present in a list:

In [ ]:
"melon" in myList

In [ ]:
"banana" in myList

### 7.1.4 Calculate the length of a list
We can use the `len()` function to determine the number of elements in a list:

In [ ]:
print(len(myList))

### 7.1.5 Concatenate lists

We can use the `+` operator to create a new list by concatenating the elements of two lists:

In [ ]:
myUnionList = myList + myList2
print(myUnionList)

### 7.1.6 Modifying list items

We can modify the value of an element in the list by directly accessing its position:

In [ ]:
myList[1] = "blackberry"
print(myList)

And include a repeating element in the list:

In [ ]:
myList[1] = "apple"
print(myList)

We can add elements to the end of a list using the `append()` method:

In [ ]:
myList.append("strawberry")
print(myList)

Alternatively, use the `insert()` method to add an element at a specific position:

In [ ]:
myList.insert(1, "banana")
print(myList)

To **remove items** from the list, we have several options:

* The `remove()` method removes the specified element.

In [ ]:
myList.remove("pear")
print(myList)

If an element appears multiple times, `remove()` only deletes its first occurrence.

In [ ]:
myList.remove("apple")
print(myList)

* The `pop()` method removes the element at the specified index or position. If no index is provided, it removes the last element by default.

In [ ]:
myList.pop(4)
print(myList)

In [ ]:
myList.pop()
print(myList)

* The `del` keyword allows us to remove an element by its index, or even delete the entire list if no specific element is indicated.

In [ ]:
del myList[0]
print(myList)

In [ ]:
myList2 = ['lemon', 'cherry', 'kiwi']
print(myList2)
del myList2
print(myList2) #It produces an error because there is no list named myList2

* The `clear()` method allows us to completely empty the list.

In [ ]:
myList2 = ['lemon', 'cherry', 'kiwi']
print(myList2)
myList2.clear()
print(myList2)

## 7.2 Tuples in Python

A **tuple** is an ordered collection of elements that allows duplicates, but unlike lists, it is immutable

### 7.2.1 Create a tuple

To define a tuple in Python, we use parentheses and place the elements that make up the tuple inside them.

In [ ]:
myTuple = ("apple", "banana", "pear", "orange")
print(myTuple)

You can also create a tuple using the `tuple()` constructor.

In [ ]:
myTuple2 = tuple(("melon", "banana", "cherry")) # Be careful with the doble parenthesis!
print(myTuple2)

### 7.2.2 Element indexing

Just like with lists, we can access tuple elements by indexing their positions. Let's review the following examples to see how it works:

In [ ]:
print(myTuple[2])

In [ ]:
print(myTuple[-1:1])

In [ ]:
print(myTuple[-1:4])

In [ ]:
print(myTuple[:-2])

In [ ]:
print(myTuple[-2:])

### 7.2.3 Check for the presence of an element

We can also use the `in` keyword to check if an element exists within the tuple:

In [ ]:
"melon" in myTuple

In [ ]:
"banana" in myTuple

### 7.2.4 Calculate the length of a tuple
We can also use the `len()` function to determine the number of elements in the tuple:

In [ ]:
print(len(myTuple))

### 7.2.5 Concatenate tuples
You can use the `+` operator to concatenate two tuples and create a new one

In [ ]:
tuple_union = myTuple + myTuple2
print(tuple_union)

### 7.2.6 Modifying the elements of the tuple

As previously mentioned, **tuples are immutable**. This basically means that once a tuple is created, its values cannot be changed, new elements cannot be added, nor can elements be removed. However, there is an alternative solution.

You can convert the tuple into a list using the `list()` function, make the necessary changes, and then convert it back into a tuple using the `tuple()` function.

Let's put this into practice:

In [ ]:
# Convert to list
myList = list(myTuple)

# Modify the lista
myList[1] = "blackberry"
print(myList)
print(type(myList))

# Convert the list back to tuple
myTuple2 = tuple(myList)
print(myTuple2)
print(type(myTuple2))

### 7.2.7 Tuple object methods

Tuples have two predefined methods:

* `count()`: Returns the number of times an element appears in a tuple.
* `index()`: Searches the tuple for a specific element and returns the position where it is first found. If the element is repeated, it returns the position of its first occurrence.

In [ ]:
tuple_union.count('melon')

In [ ]:
tuple_union.count('banana')

In [ ]:
tuple_union.index('banana')

**Exercises with tuples**

1.   Create a tuple of tuples:
(("apple",1),("banana",1),("apple",2),("melon",1),("pineapple",2),("banana",2)),
where the first element is a fruit, and the second is the number of fruits.
2.   Calculate the number of apples, bananas and melons you have (use `for` loop to read each one of the elements, compare with the different fruits and increase the counter associated to each one).

In [88]:
tuple1 = (("apple",1),("banana",1),("apple",2),("melon",1),("pineapple",2),("banana",2))
counts = {}
for couple in tuple1: counts[couple[0]] = counts.get(couple[0], 0) + couple[1]
print(f"There are {counts["apple"]} apples, {counts["banana"]} bananas and {counts["melon"]} melons")

There are 3 apples, 3 bananas and 1 melons

## 7.3 Sets in Python

A **set** is an unordered, unindexed collection of elements that does not allow duplicates

### 7.3.1 Create a set
In Python, sets are defined using curly braces. To create a set, simply list a series of elements separated by commas inside the braces:

In [ ]:
mySet = {"apple", "banana", "pear", "kiwi", "melon", "mango"}
print(mySet)

In [ ]:
mySet2 = {"apple", "banana", "pear", "kiwi", "platano", "melon", "mango", "melon"}
print(mySet2)

Let's consider two key points:

* Items are not stored in the order they were defined, as sets are unordered collections. Therefore, you cannot predict the order in which elements will appear.
* If repeated elements are defined, only one instance will be stored in the set, since sets do not allow duplicates.

You can also create a set using the `set()` constructor.

In [ ]:
mySet3 =set([ "lemon", "cherry", "kiwi", "mango", "banana", "pear", "kiwi"])
print(mySet3)

### 7.3.2 Element indexing

Items in a set cannot be accessed by index, as sets are unordered and the elements do not have indexes.

### 7.3.3 Check for the presence of an element
Although elements are not indexed, we can use the `in` keyword to check if an element is present in a set:

In [ ]:
"melon" in mySet

In [ ]:
"cherry" in mySet

### 7.3.4 Calculate the length of a set
We can use the `len()` function to determine the number of elements in the set:

In [ ]:
print(len(mySet))

### 7.3.5 Union of sets

To join two or more sets in Python, you can use the `union()` method, which returns a new set containing all the elements from both sets. Note that any common elements will not be duplicated.

In [ ]:
mySet = {"apple", "banana", "pear", "kiwi"}
print(mySet)
mySet2 = {"pear", "kiwi", "melon", "mango"}
print(mySet2)

mySetUnion = mySet.union(mySet2)
print(mySetUnion)

Keep in mind that the `+` operator does not work with sets

In [ ]:
mySetUnion = mySet + mySet2
print(mySetUnion)

### 7.3.6 Modifying the elements of a set

Once a set is created, its elements cannot be modified, but new elements can be added.

To add a single element to a set, you can use the `add()` method. If you want to add multiple elements, the `update()` method can be used.

In [ ]:
mySet = {"apple", "banana", "cherry"}
print(mySet)

# Add new element to the set, using the method add():
mySet.add("orange")

print(mySet)

# Add more than one element in a set, using the method update():
mySet.update({"orange", "mango", "grape"})

print(mySet)

If you want to remove elements from a set, we have several options:

* Both the `remove()` and `discard()` methods delete the specified element.

In [ ]:
# Remove an element from the set using the method remove():
mySet.remove("apple")
print(mySet)

# Remove the element "banana" using the method discard():
mySet.discard("banana")
print(mySet)

If the specified element does not exist in the set, the `remove()` method will raise an error.

In [ ]:
mySet.remove("apple")

On the other hand, if the specified element does not exist in the set and we use the `discard()` method, no error will be raised.

In [ ]:
mySet.discard("apple")

* You can also remove items using the `pop()` method. The key difference from the previous methods is that you do not specify which element to remove; instead, it removes an arbitrary element from the set. To find out which element was removed, the `pop()` method returns the value of the removed item.

In [ ]:
print(mySet)
removed_element = mySet.pop()
print(mySet)
print(removed_element)

* With sets, we can also use the `clear()` method to empty the set, and the `del` keyword to delete the set entirely.

In [ ]:
print(mySet)
mySet.clear()
print(mySet)

In [ ]:
print(mySet2)
del mySet2
mySet2

## 7.4 Python dictionaries

A **dictionary** is a collection of unordered, changeable, and indexed elements with no duplicate entries.

Dictionaries are written using curly braces, and their key feature is that each element has a key, making it easier to index the dictionary's values. Therefore, each dictionary element consists of a key-value pair.

### 7.4.1 Create a dictionary
In Python, dictionaries are defined using curly braces, and each entry is represented by a key-value pair. For example:

In [ ]:
mydict = {
  "name": "Ana",
  "surname": "GarcÃ­a",
  "age": 25
}
print(mydict)

Note the use of the colon operator (`:`) for assigning key-value pairs

In abovementioned example, we've created a dictionary with three entries associated with the keys "name", "surname" and "age", each paired with its corresponding value.

Dictionaries provide a flexible way to store information in a structured manner.

To create an empty dictionary, simply define it without any elements:

In [ ]:
myemptydict = {}
print(myemptydict)

You can also use the `dict()` constructor to create a dictionary:

In [ ]:
mydict2 = dict(name = "Juan", surname ="PÃ©rez", age =30)
print(mydict2)

Note that in this case, the keys are not provided as string literals, and we use the equal sign (`=`) instead of the colon (`:`) for key-value assignment.

### 7.4.2 Accessing keys and values

Once the dictionary is created, you can access a specific value by referencing its key:

In [ ]:
mydict["name"]

Note that to access an element, we reference the dictionary and provide the key associated with the desired value inside square brackets.

Dictionaries also have a `get()` method, which returns the same result.

In [ ]:
mydict.get("name")

We can modify the value of a specific entry by accessing it using its key:

In [ ]:
mydict["name"]='Marta'
mydict.get("name")

If the key does not exist, an error will be raised.

In [ ]:
mydict["status"]

You can avoid this error by using the `get()` method.

In [ ]:
mydict.get("status") is None

If you need to access all key-value pairs, you can use the `items()` method.

In [ ]:
mydict.items()

Note that this method returns a list of all key-value pairs, with each pair represented as a tuple.

You can also access all keys or all values independently using the `keys()` and `values()` methods, respectively.

In [ ]:
mydict.keys()

In [ ]:
mydict.values()

You can iterate through the elements of a dictionary using a `for` loop. Keep in mind that the loop will return the keys of the dictionary by default:

In [ ]:
for key in mydict:
  print(key)

In [ ]:
# We can use these keys to return the values
for key in mydict:
  print(mydict[key])

However, we can use the `items()` or `values()` methods to iterate over key-value pairs or just the values.

In [ ]:
for value in mydict.values():
  print(value)

In [ ]:
for key, value in mydict.items():
  print(key, value)

### 7.4.3 Adding and removing elements

To add a new key-value pair to a dictionary, simply use a new key and assign a value to it:

In [ ]:
mydict["status"] = 'single'
print(mydict)

Alternatively, you can use the `update()` method:

In [ ]:
mydict.update({"job":'teacher'})
print(mydict)

Generally, this method updates the dictionary with elements from another dictionary. If the other dictionary contains new keys, they are added as new entries; otherwise, the corresponding values are updated. For example:

In [ ]:
mydict2 = {1: "one", 2: "three"}
dictnew = {2: "two", 3: "three"}

mydict2.update(dictnew)
print(mydict2)

To remove elements from a dictionary, we can use the following methods:

* `.pop()` or `del` (the latter is a Python keyword): Both remove the item associated with a given key.
* `.popitem()`: Removes the last inserted element.

In [ ]:
mydict.popitem()
print(mydict)

In [ ]:
mydict.pop("age")
print(mydict)

In [ ]:
del mydict["name"]
print(mydict)

We can also use `del` to remove the entire dictionary.

In [ ]:
del mydict
print(mydict)

If we want to remove all elements from the dictionary without deleting the variable itself, we can use the `clear()` method:

In [ ]:
mydict = {
  "name": "Ana",
  "surname": "GarcÃ­a",
  "age": 25
}
print(mydict)

In [ ]:
mydict.clear()
print(mydict)

**Exercises**

Let's create a dictionary with your classmates' information, using their names as keys and their degree programs as values. For this exercise, it's enough to include data for $5$ or $6$ classmates (you can use the chat to share this information).

In [91]:
classmates={'Maria':'Telecomunication Eng', 'Pablo': 'Biomedical Eng', 'Marta':'Biomedical Eng', 'Ana': 'Computer Science', 'Antonio' :'Telecomunication Eng'}
print(classmates)

{'Maria': 'Telecomunication Eng', 'Pablo': 'Biomedical Eng', 'Marta': 'Biomedical Eng', 'Ana': 'Computer Science', 'Antonio': 'Telecomunication Eng'}

Now, solve the following exercises/questions:

* Which degree did Ana study?
* Update your dictionary with the information of another classmate.
* List the names of all the classmates in your dictionary.
* How many people studied Biomedical Engineering?"

In [93]:
print(f"Ana is studying {classmates["Ana"]}")
classmates["Alonso"] = "Telecommunication Eng"
print(f"Names: {', '.join(classmates.keys())}")
print(f"Students of Biomed Eng.: {sum(map(lambda x: 1 if x == 'Biomedical Eng' else 0, classmates.values()))}")

Ana is studying Computer Science
Names: Maria, Pablo, Marta, Ana, Antonio, Alonso
Students of Biomed Eng.: 2

# 8.&nbsp;User defined functions

A function is a block of organized, reusable code designed to perform a single, specific action. Functions enhance modularity and promote code reuse.

As we've seen, Python provides many built-in functions like `print()` and `len()`, but you can also create your own functions!

### Defining a function:

-  Function blocks start with the keyword `def`, followed by the function name and parentheses `( )`.

-  Any input parameters or arguments should be placed inside the parentheses. You can also define default parameters within these parentheses.

- The code block within every function starts with a colon (`:`) and is indented.

-  The first statement of a function can be an optional documentation string, often called a docstring. Docstrings typically begin and end with triple quotes (`"""....."""`).

- The statement `return [expression]` exits a function, optionally passing an expression back to the caller. A return statement with no arguments is equivalent to return `None`.

In [ ]:
# Example of a function:

def add_five(a):
  """This function adds the number five to its input argument."""
  return a + 5

# Let's try it out!
x = int(input('Please enter an integer: '))
print('Our add_five function is super effective at adding fives:')
print(x, '+ 5 =', add_five(x))

Now give it a try! Write a function called `my_factorial` that computes the factorial of a given number. If you're feeling adventurous, you can try implementing it recursively, as Python fully supports recursion. Remember that the factorial of $0$ is $1$, and the factorial of a negative number is undefined.

**Solution**

In [159]:
def my_factorial(x):
    if (x<0): raise ValueError("my_factorial() is not defined for negative input values.")
    return x*my_factorial(x-1) if x >= 1 else 1

In [160]:
def my_factorial_test():
    assert(my_factorial(0) == math.factorial(0))
    assert(my_factorial(1) == math.factorial(1))
    assert(my_factorial(3) == math.factorial(3))

my_factorial_test()

Note that you can verify your result by using the `factorial` function included in the `math` library.